@.momo-signature-regular{
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: palevioletred;
    @import url('https://fonts.googleapis.com/css2?family=Comic+Relief&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 3rem;
    color: darkslategray;
    z-index: 3;
    transition: color 0.3s ease-in-out;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover {
    color: burlywood;
}

.sidebar {
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: darkslategray;
    color: burlywood;
    padding: 6rem 1rem 0 1rem;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
}

.burger-icon:hover + .sidebar,.sidebar:hover {
    left: 0;
    box-shadow: 0 0 10px 0 black;
}

.sidebar a {
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: burlywood;
    margin: 1.2rem 0;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out,
        transform 0.15s ease-in-out;
}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0 0 10px white);
}

.page {
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages*/
    position: fixed;
    left: -100vw;
    transition: all 1s ease-in-out;
}

.show {
    left: 0;
}

/*all divs inside pages are treated as full width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: black;
}

h1{
    font-weight: 300;
    font-size: 3rem;
    color:black;
}

#page1{
    background-image: url(./Assets/forest.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.box{
    max-width: 25rem;
    height: 100rem;
    grid-template-rows: 1fr 8fr;
    background-color: rgba(o,o,o,o.6);
    border-radius: 1rem;
    padding: 2rem;
}

.scroll{
    overflow: scroll;
    min-height: 100%;
    padding: 20rem;
    gap: 2rem;
}

.box .top{
    background-color: black;
    color: white;
    border-radius: 1rem;
}

.box .bottom{
    color: white;
}

#page2{
    overflow: scroll;
}

.parallax{
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.background1{
    background-image: url(./Assets/bird.jpg);
}

.background2{
    background-image: url(./Assets/forest.jpg);
}
