body {
    background-color: palevioletred;
    @import url('https://fonts.googleapis.com/css2?family=Comic+Relief&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 3rem;
    color: darkslategray;
    z-index: 3;
    transition: color 0.3s ease-in-out;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover {
    color: burlywood;
}

.sidebar {
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: darkslategray;
    color: burlywood;
    padding: 6rem 1rem 0 1rem;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
}

.burger-icon:hover + .sidebar,.sidebar:hover {
    left: 0;
    box-shadow: 0 0 10px 0 black;
}

.sidebar a {
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: burlywood;
    margin: 1.2rem 0;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out,
        transform 0.15s ease-in-out;
}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0 0 10px white);
}

.page {
    color: palevioletred;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages*/
    position: fixed;
    left: -100vw;
    transition: all 1s ease-in-out;
}

#KatImage {
    width: 60vw;
}

.show {
    left: 0;
}

/*all divs inside pages are treated as full width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

h1{
    font-weight: 300;
    font-size: 3rem;
}

#page1 {
    background-image: url(./Assets/Kat.jpg);
    color: transparent;
}

#page2 {
    grid-template-rows: 1fr 3fr;
    border: 5vw dotted lightpink;
    width: 90vw;
    height: 100vh-10wh;
}



#page2 .top {
    background-color: lightpink;
    background-image: url(./Assets/mis1.jpeg);
    color: black;
}

#page2 .bottom {
    background-color: khaki;
    background-size: cover;
}

#mis1Image {
    width: 60vw;
}

#page3{
    grid-template-columns: 1fr 1fr;
}

#page3 .left{
    grid-template-rows: 1fr 3fr;
    background-color: mistyrose;
}

#page3 .left .bottom{
    background-color: darkslategray;
    color: lightseagreen;
}

#page3 .right{
    color: darkcyan;
    background-color: lightskyblue;
}

#page3 .right .box{
    height: 50%;
    width: 80%;
    background-color: lightblue;
    display:grid;
    grid-template-rows: 1fr 6fr;
}

#page3 .right .box .bottom{
    background-image: url(./Assets/mis2.JPG);
    background-size: contain;
}

#page4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: beige;
}

#page4 .left{
    background-color: blueviolet;
}

#page4 .midleft{
    background-color: cornflowerblue;
}

#page4 .midright{
    background-color: darkorchid;
}

#page4 .right{
    background-color: darkslateblue;
}

#page5 {
    grid-template-columns: 1fr 1fr;
}

#page5 .right {
    grid-template-rows: 1fr 1fr;
}

#page5 .right .top{
    background-color: chocolate;
    color: burlywood;
}

#page5 .right .bottom{
    background-color: darkslategray;
    color: burlywood;
}
#page5 .left{
    color: transparent;
    background-image: url(./Assets/mis3.jpeg);
    background-size: cover;
    
}